@using Newtonsoft.Json


@{
    ViewBag.Title = "Select your books for rental";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p></p>

@model IEnumerable<LibraryMVC5.Models.BookModel>


<div class="container">
    <h2></h2>

    <form method="get" action="@Url.Action("Books", "Home")">
        <div class="form-group">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search by title..." value="@Request.QueryString["searchTerm"]" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br />
    <table class="table">
        <thead>
            <tr>
                @*<th style="min-width: 300px;">Image</th>
                    <th>Title</th>*@
                @*<th>Category</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Publication Year</th>
                    <th>Available for Rental</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <a href="/Home/Detalhes?isbn=@book.ISBN">
                            <img src="/wwwroot/images/@book.ImageUrl"
                                 alt="@book.Title"
                                 class="book-image"
                                 style="width: 250px; height: auto; cursor: pointer;"
                                 data-book='@Html.Raw(JsonConvert.SerializeObject(new {
                                 Title = book.Title,
                                 Categoria = book.Category,
                                 Author = book.Author,
                                 ISBN = book.ISBN,
                                 PublicationYear = book.PublicationYear,
                                 IsAvailableForRental = book.IsAvailableForRental
                             }))' />
                        </a>
                    </td>
                    <td style="font-size: 35px;">@book.Title</td>
                    @*td>@book.Category</td>
                        <td>@book.Author</td>
                        <td>@book.ISBN</td>
                        <td>@book.PublicationYear</td>
                        <td>@(book.IsAvailableForRental ? "Yes" : "No")</td>*@
                </tr>

            }






        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- O modal está vazio -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.book-image').on('click', function () {
            $('#bookModal').modal('show');
        });
    });
</script>