@model LibraryMVC5.Models.BookModel

@{
    ViewBag.Title = "Detalhes";
}

<div class="container">
    <h2 style="margin-top:50px;
                margin-bottom:50px;"
        >@Model.Title</h2>

    <div class="container" style="display: flex;">
        <div style="flex: 1;">
            <img src="/wwwroot/images/@Model.ImageUrl" 
                 style="width: 200px; height: 200px; margin-top:20px;" />
        </div>
        <div style="flex: 2; padding-left: 20px; font-size:20px;">
            <p><strong>Category:</strong> @Model.Category</p>
            <p><strong>Author:</strong> @Model.Author</p>
            <p><strong>ISBN:</strong> @Model.ISBN</p>
            <p><strong>Publication Year:</strong> @Model.PublicationYear</p>
            <p>
                <strong>Available for Rental:</strong>
                <input type="checkbox" disabled @if (Model.IsAvailableForRental) { <text> checked</text> } />
            </p>

            <!-- Button to Rent the Book -->
            @if (Model.IsAvailableForRental)
            {
                <form style="margin-top:30px;"
                      method="post" action="@Url.Action("Detalhes", "Home")">
                    <input type="hidden" name="ISBN" value="@Model.ISBN" />
                    <button type="submit" class="btn btn-primary">Rent This Book</button>
                </form>
            }
            else
            {
                <p>This book is not available for rental.</p>
            }
        </div>
    </div>
</div>
